<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>书目搜索</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
    <script>
        $(function () {
            var items = document.getElementsByTagName("a");
            for(var i = 0;i<items.length;i++){
                items[i].setAttribute('data-ajax', false);
            }
        })
    </script>
    <style type="text/css">
        .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
        .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;background-color: #fff}
        .pagination .active{background-color: #22aadd;color: #fff;}
        .pagination .disabled{color:#aaa;}
    </style>
    <link rel="stylesheet" href="/mbook/public/static/common.css" >
</head>
<body>
<div data-role="page">
    <div data-role="header" data-theme="f">
        <h1>书目搜索</h1>
        <a href="../Index/indexlogin.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <a href="javascript:history.back(-1);" data-ajax="false" data-role="button" data-icon="info">返回</a>
    </div>
    <div data-role="content" align="center" data-theme="f">
        <form method="get" action="searchdo" data-ajax="false">
            <div data-role="fieldcontain">
                <input name="keyword" placeholder="请输入关键词" id="keyword" type="text" value="{$keyword ? $keyword : '';}" required>
                <input data-inline="true" type="submit" name="submit" value="搜索"/>
            </div>
        </form>
    </div>
    <div data-role="content" align="center" data-theme="f">
        <label>搜索结果</label>
        <table width="auto" border="1px" >

            <tr>
                <th>名称</th>
                <th>作者</th>
                <th>ISBN</th>
                <th>原价</th>
                <th>现价</th>
            </tr>
            {volist name='result' id='sdata' empty="暂未查到此数据"}
            <tr align="center">
                <td style="word-break:break-all;">{$sdata.book_name}</td>
                <td style="word-break:break-all;">{$sdata.book_author}</td>
                <td style="word-break:break-all;">{$sdata.book_isbn}</td>
                <td>￥{$sdata.book_oldprice}</td>
                <td>￥{$sdata.book_newprice}</td>
            </tr>
            {/volist}
        </table>
        <div>{$page}</div>

    </div>
    <div data-role="footer" data-theme="f">
        <h1>机电书店</h1>
    </div>
</div>
</body>
</html>
