<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品搜索</title>
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="header">
    <a href="../index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
    <a href="javascript:history.back(-1);" data-ajax="false" data-role="button" data-icon="info">返回</a>
    <h3 id="search"> 商品搜索 </h3>
</div>

<div data-role="content">
    <form name="search" method="post" action="search" data-ajax="false">
        <div data-role="fieldcontain">
            <input name="searching" id="searching" type="search">
            <div align="center">
                <input data-inline="true" data-icon="search" data-iconpos="left" name="submit" type="submit" value="搜索">
            </div>
        </div>
    </form>

</div>

</body>
</html>

