<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/mbook/public/static/common.css" >
    <style>
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;/*脚部的高度*/
            clear:both;
        }
    </style>

</head>
<body>
<div data-role="page" id="page1">
    <div data-role="header" data-theme="f">
        <a href="../index/index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <a href="javascript:history.back(-1);" data-ajax="false" data-role="button" data-icon="info">返回</a>
        <h3 id="reg"> 联系我们 </h3>
    </div>
    <div data-role="content" data-theme="f" style="height:100% ; width:92%; position:fixed;">
            <div data-role="fieldcontain" align="center">
                <label> 邮箱 </label>
                <p>admin@qq.com</p>
            </div>
            <div data-role="fieldcontain" align="center">
                <label> 电话 </label>
                <p>020-1234567</p>
            </div>
            <div align="center">
                <a data-role="button" href="baidumap.html" data-ajax="false">查看地图</a>
            </div>

    </div>
    <div data-role="footer" data-theme="f" id="footer">
        <h1>机电书店</h1>
    </div>
</div>
</body>
</html>