<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="page1">
    <div data-role="header">
        <a href="../index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <a href="../user/login.html" data-ajax="false" data-role="button" data-icon="info">登录</a>
        <h3 id="reg"> 联系我们 </h3>
    </div>
    <div data-role="content">
            <div data-role="fieldcontain">
                <label> 邮箱 </label>

            </div>
            <div data-role="fieldcontain">
                <label> 电话 </label>

            </div>
            <div align="center">
                <input data-inline="true" type="button" href="index/contact/baidumap" value="点击查看地图" />
            </div>

    </div>
</div>
</body>
</html>