<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密保</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/mbook/public/static/common.css" >
    <style>
        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;/*脚部的高度*/
            clear:both;
        }
    </style>
</head>

<body>
<div data-role="page" id="page1">
    <div data-role="header" data-theme="f">
        <a href="../Index/indexlogin.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <a href="javascript:history.back(-1);" data-ajax="false" data-role="button" data-icon="info">返回</a>
        <h3> 修改密码 </h3>
    </div>
    <div data-role="content" data-theme="f" style="height:100% ; width:92%; position:fixed;">
        <form method="post" action="editqu" data-ajax="false">
            <div data-role="fieldcontain">
                <label for="password"> 密码 </label>
                <input name="password" id="password" placeholder="" value="" type="password" required>
            </div>
            <div data-role="fieldcontain">
                <label for="newqu"> 新密保问题 </label>
                <input name="newqu" id="newqu" placeholder="" value="" type="text" required>
            </div>
            <div data-role="fieldcontain">
                <label for="newan"> 新密保答案 </label>
                <input name="newan" id="newan" placeholder="" value="" type="text" required>
            </div>

            <div >
                <input data-inline="true" type="submit" name="submit" value="修改" />
                <a data-inline="true"  data-role="button"  href="javascript:history.back(-1);" data-ajax="false"> 取消 </a>
            </div>

        </form>
    </div>
    <div data-role="footer" data-theme="f" id="footer">
        <h1>机电书店</h1>
    </div>
</div>
</body>
</html>
