<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>
<div data-role="page" id="page1">
    <div data-role="header">
        <a href="../Index/index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <a href="../user/login.html" data-role="button" data-ajax="false" data-icon="info">登陆</a>
        <h3> 用户信息 </h3>
    </div>
    <div align="center">
        <a data-role="button" href="logout" data-ajax="false">登出</a>
    </div>

</div>
</body>
</html>
