<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
    <style>
        body {
            margin: 0 auto;
            text-align:center;
            padding:0;
        }
        div, ul, li, dl, dt, dd, h1, h2, h3, h4, p {
            margin:0;
            padding:0;
            list-style:none;
        }
        a {
            text-decoration:none;
        }

        .ui-bar-f
        {
            background-color:#FF6;
            border:#FF0 1px solid;
        }
    </style>
</head>

<body>
<div data-role="page" id="page1">
    <div data-role="header" data-theme="f">
        <a href="../Index/indexlogin.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <h3> 用户信息</h3>
    </div>
    <div data-role="content">
        <form name="RegForm" method="post" action="editdo" data-ajax="false">
            <div data-role="fieldcontain">
                <label for="username"> 用户名</label>
                <input name="username" id="username"  value="{$name}" type="text" readonly="readonly" required>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="fieldcontain">
                    <label for="sex">性别</label>
                    <select name="sex" id="sex">
                        <option value="male">男</option>
                        <option value="male">男</option>
                        <option value="female">女</option>
                        <option value="others">其他</option>
                    </select>
                </fieldset>
            </div>
                <div data-role="fieldcontain">
                    <label for="email"> 邮箱</label>
                    <input name="email" id="email"  value="{$r[0]['user_email']}" readonly="readonly" type="email" required>
                </div>
                <div data-role="fieldcontain">
                    <label for="qq"> QQ </label>
                    <input name="qq" id="qq"  value="{$r[0]['user_qq']}" type="text" required>

                </div>
                <div data-role="fieldcontain">
                    <label for="phone"> 联系电话 </label>
                    <input name="phone" id="phone"  value="{$r[0]['user_tel']}" type="text" required>

                </div>
                <div data-role="fieldcontain">
                    <label for="address"> 地址 </label>
                    <input name="address" id="address"  value="{$r[0]['user_address']}" type="text" required>
                </div>
                <div data-role="fieldcontain">
                    <label for="address"> 重要信息修改 </label>
                    <a data-inline="true" data-ajax="false"  data-role="button"  href="newpsw.html"> 修改密码 </a>
                    <a data-inline="true" data-ajax="false"  data-role="button"  href="newpsw.html"> 修改密保 </a>
                </div>
                <div >
                    <input data-inline="true" type="submit" name="submit" value="提交"  />
                    <a data-inline="true"  data-role="button" data-ajax="false"  href="../Index/index.html"> 取消 </a>
                </div>
        </form>
    </div>
    <div data-role="footer" data-theme="f">
        <h1>机电书店</h1>
    </div>
</div>
</body>
</html>
