<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>用户登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
    <script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
    <script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>
<div data-role="page" id="page1">
    <div data-role="header">
        <a href="../index/index" data-ajax="false" data-role="button" data-icon="home">首页</a>
        <a href="../user/reg.html" data-ajax="false" data-role="button" data-icon="info">注册</a>
        <h3 id="reg"> 用户登录 </h3>
    </div>
    <div data-role="content">
        <form name="RegForm" method="post" action="logining" data-ajax="false">
            <div data-role="fieldcontain">
                <input name="email" placeholder="请输入邮箱" id="email" type="email" required>
            </div>
            <div data-role="fieldcontain">
                <input name="password" placeholder="请输入密码" id="password" type="password" required>
            </div>
            <!--<div data-role="fieldcontain">-->
                <input placeholder="请输入验证码" name="captcha" class="captcha">
                <div align="center">
                    <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'" width="200px" height="100px"/>
                </div>
            <!--</div>-->
            <div align="center">
                <input data-inline="true" type="submit" name="submit" value="提交" />
                <a href="../user/forgotpsw.html" data-ajax="false">忘记了密码？</a>
            </div>

        </form>
    </div>
</div>
</body>
</html>
