<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>用户注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" href="/mbook/public/static/jquery-ui.css">
  <script src="/mbook/public/static/jquery-3.2.1.slim.min.js"></script>
  <script src="/mbook/public/static/jquery-ui.js"></script>
  <link rel="stylesheet" href="/mbook/public/static/style.css">
  <script>
      $(function() {
          $(function() {
              $( "#datepicker" ).datepicker({
                  changeMonth: true,
                  changeYear: true,
                  dateFormat: 'yy-mm-dd',
                  showAnim: 'slide',
                  showButtonPanel: true
              });
          });
      });
  </script>
  <script type="text/javascript">
      $(function(){
          $.AutoComplete('#email');
      });
  </script>
  <link rel="stylesheet" type="text/css" href="/mbook/public/static/autoComplete.css" media="all"/>
  <script type="text/javascript" src="/mbook/public/static/jquery.autoComplete.js"></script>
</head>

<body>
<div data-role="page" id="page1">
  <div data-role="header"> 
    <a href="../Index/index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
    <a href="../user/login.html" data-role="button" data-ajax="false" data-icon="info">登陆</a>
    <h3 id="reg"> 用户注册 </h3>
  </div>
  <div data-role="content">
    <form name="RegForm" method="post" action="insert" data-ajax="false">
      <div data-role="fieldcontain">
        <label for="username"> 用户名 </label>
        <input name="username" id="username"  value="" type="text" required>
      </div>
      <div data-role="fieldcontain">
        <label for="truename"> 真实姓名 </label>
        <input name="truename" id="truename" type="text">
      </div>
      <div data-role="fieldcontain">
        <label for="password"> 密码 </label>
        <input name="password" id="password" placeholder="" value="" type="password" required>
      </div>
      <div data-role="fieldcontain">
        <label for="repass"> 确认密码 </label>
        <input name="repass" id="repass" placeholder="" value="" type="password" required>
      </div>
      
      <div data-role="fieldcontain">
        <fieldset data-role="fieldcontain">
          <label for="sex">性别</label>
          <select name="sex" id="sex">
            <option value="male">男</option>
            <option value="female">女</option>
            <option value="others">其他</option>
          </select>
        </fieldset>
      </div>
      <div data-role="fieldcontain">
        <label for="email"> 邮箱 </label>
        <input name="email" id="email"  value="" type="email" class="inp" autocomplete="off" required>
      </div>
      <div data-role="fieldcontain">
        <label> 生日 </label>
        <input name="bir" id="datepicker"  value="" type="text" required readonly="readonly">
      </div>
      <div data-role="fieldcontain">
        <label for="qq"> QQ </label>
        <input name="qq" id="qq"  value="" type="text">
      </div>
      <div data-role="fieldcontain">
        <label for="tel"> 手机号 </label>
        <input name="tel" id="tel" type="text" required>
      </div>
      <div data-role="fieldcontain">
        <label for="address"> 地址 </label>
        <input name="address" id="address" type="text">
      </div>
      <div data-role="fieldcontain">
        <label for="question"> 密保问题 </label>
        <input name="question" id="question"  value="" type="text" required>
      </div>
      <div data-role="fieldcontain">
        <label for="answer"> 密保答案 </label>
        <input name="answer" id="answer"  value="" type="text" required>
      </div>
      <div align="center">
        <input data-inline="true" type="submit" name="submit" value="提交" />
      </div>
    </form>
  </div>
</div>
</body>
</html>
